c-pluff/plugin.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:Q1="#">
<element name="plugin">
<complexType>
<sequence>
            </sequence>
            <attribute name="name" type="string" use="required"/>
            <attribute name="id" type="string" use="required"/>
            <attribute name="version" type="string" use="required"/>
            <attribute name="provider-name" type="string"/>
        </complexType>
</element>
    <element name="requires">
<complexType>
<sequence>
</sequence>
</complexType>
</element>
    <element name="import" type="string"/>
</schema>
